<!DOCTYPE html>
<html>
<head>
  <title>Sign up to find a RunningBuddy in your city.</title>

  <script src="http://cdn.jotfor.ms/static/jotform.js?3.2.1272" type="text/javascript"></script>
  <script type="text/javascript">
     JotForm.init();
  </script>
  <link href="http://cdn.jotfor.ms/static/formCss.css?3.2.1272" rel="stylesheet" type="text/css" />
  <link type="text/css" rel="stylesheet" href="http://cdn.jotfor.ms/css/styles/nova.css?3.2.1272" />
  <link type="text/css" media="print" rel="stylesheet" href="http://cdn.jotfor.ms/css/printForm.css?3.2.1272" />
  <style type="text/css">
      .form-label{
          width:150px !important;
      }
      .form-label-left{
          width:150px !important;
      }
      .form-line{
          padding-top:12px;
          padding-bottom:12px;
      }
      .form-label-right{
          width:150px !important;
      }
      .form-all{
          width:650px;
          color:#555 !important;
          font-family:'Lucida Grande';
          font-size:14px;
      }
  </style>
</head>

<body>
  <form class="jotform-form" action="# NEED TO CHANGE THIS" method="post" name="sign_in_form" id="sign_in_form_id" accept-charset="utf-8">
    <input type="hidden" name="formID" value="40973685274971" />
    <div class="form-all">
      <ul class="form-section">
        <li id="cid_1" class="form-input-wide">
          <div class="form-header-group">
            <h2 id="header_1" class="form-header">
              RunningBuddy Login
            </h2>
          </div>
        </li>
        <li class="form-line" id="id_3">
          <label class="form-label-left" id="label_3" for="input_3"> Username </label>
          <div id="cid_3" class="form-input">
            <input type="text" class="username_class" data-type="input-textbox" id="username_id" name="username" size="20" value="" />
          </div>
        </li>
        <li class="form-line" id="id_5">
          <label class="form-label-left" id="label_5" for="input_5"> Password </label>
          <div id="cid_5" class="form-input">
            <input type="text" class="password_class" data-type="input-textbox" id="password_id" name="password" size="20" value="" />
          </div>
        </li>
        <li class="form-line" id="id_2">
          <div id="cid_2" class="form-input-wide">
            <div style="margin-left:156px" class="form-buttons-wrapper">
              <button id="input_2" type="submit" class="form-submit-button">
                Submit
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <input type="hidden" id="simple_spc" name="simple_spc" value="40973685274971" />
    <script type="text/javascript">
    document.getElementById("si" + "mple" + "_spc").value = "40973685274971-40973685274971";
    </script>
  </form>
</body>

</html>
